<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../css/style.css">
 <style>
	


	 
	 </style>
</head>
    

<body>
  <nav class="navbar">
    <div class="container-fluid">
      <h1> Bora Agora?</h1>
      <a class="navbar-brand" href="#">Deixa conosco o planejamento!</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a th:href="@{/}" class="nav-link active" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a th:href="@{/promocoes}"  class="nav-link" aria-current="page">Promoções</a>
          </li>
          <li class="nav-item">
            <a th:href="@{/destino}"  class="nav-link" aria-current="page">Destinos</a>
          </li>
          <li class="nav-item">
            <a th:href="@{/contato}" class="nav-link" aria-current="page">Contato</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Login
            </a>
            <ul class="dropdown-menu">
              <li><a th:href="@{/entrar}" class="dropdown-item">Entrar</a></li>
              <li><a th:href="@{/cliente/cadastrar}" class="dropdown-item">Cadastre-se</a></li>
             </ul>
          </li>
    </ul>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Pesquisar</button>
        </form>
      </div>
    </div>
  </nav>
  
  
	<main>
		<div class="text">
                    <h1>Formulário Compra</h1>
                    <h4>Que bom que você escolheu viajar conosco!</h4>
        
        </div>


<div class="row">
				<div class="col-md col-lg">
					<form method="POST" th:object="${compra}">
						<div class="row g-3">
							<div class="col-sm-6">
								<label for="id" class="form-label">id Compra</label>
								<input type="text" class="form-control" id="id" th:field="*{id}" required>
							</div>
							<div class="col-sm-6">
								<label for="data" class="form-label">Data</label>
								<input type="data" class="form-control" id="data" th:field="*{data}"
									placeholder="ex: 27/01/2026" required>
							</div>
							<div class="col-sm-6">
								<label for="total" class="form-label">Total</label>
								<input type="text" class="form-control" id="total" th:field="*{total}"
									required>
							</div>
							
<!--							<div class="col-sm-6">-->
<!--								<label for="id_cli" class="form-label">ID Cliente</label>-->
<!--								<input type="text" class="form-control" id="id_cli" th:field="*{id_cli}" required>-->
<!--							</div>-->
							
<!--							<div class="col-sm-6">-->
<!--								<label for="id_dest" class="form-label">ID Destino</label>-->
<!--								<input type="text" class="form-control" id="id_dest" th:field="*{id_dest}" required>-->
<!--							</div>-->
							<br>

							<button type="submit" class="w-100 btn btn-primary btn-lg">Cadastrar</button>

						</div>
				
					</form>
				</div>
			</div>
    
        </main>

	<footer>
    <div class="footer-info">
      <div class="contact-info">

        <h5>Telefone para contato</h5>
        </p>
        <p> (11) 3452-0777 </p>
        <p> (11) 96378-3952</p>
      </div>
      <div class="end-info">
        <h5>Endereço</h5>
        <p>Rua Tupinambá, 125 - Bairro Jaguaré</p>
        <p> São Paulo - SP</p>
      </div>
      <div class="social-media text-white">
        <h5> Nossas mídias sociais</h5>
        <i class="bi bi-instagram insta fs-4" onclick="window.open('https://www.instagram.com/', '_blank')"></i>
        <i class="bi bi-facebook face fs-4" onclick="window.open('https://www.facebook.com/', '_blank')"></i>
        <i class="bi bi-twitter tw fs-4" onclick="window.open('https://www.twitter.com/', '_blank')"></i>
        <i class="bi bi-messenger mess fs-4" onclick="window.open('https://www.messenger.com/', '_blank')"></i>
        <i class="bi bi-whatsapp whats fs-4 " onclick="window.open('https://web.whatsapp.com/', '_blank')"></i>
      </div>
    </div>
    <div class="footer-text">
      <p>&copy; 2023 Agência de Viagens. Todos os direitos reservados.</p>
      <img class="img-footer" src="../images/footer3.png" alt="Bandeiras Cartoes">
    </div>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>

</html>